<fieldset class="envoy animate-fade errorlevel {{ $envoyData.className }}"
          data-ng-show="$envoyData.error">
  <legend>{{ $envoyData.title }}</legend>
  <div data-ng-repeat="(formName, formMessages) in $envoyData.messages">
    <ul class="fa-ul" data-ng-repeat="(fieldName, field) in formMessages">
      <li data-ng-repeat="(token, info) in field" class="{{ info.level }}"
          data-ng-click="info.action()"
          data-ng-class="{actionable: info.action}">
        <i class="fa-li fa"
           data-ng-class="{'fa-exclamation-triangle': info.level == 'error', 'fa-exclamation': info.level == 'warning', 'fa-check': info.level == 'ok'}"></i>
        <a data-ng-show="info.action">{{ info.message }}</a> <span
        data-ng-hide="info.action">{{ info.message }}</span>
      </li>
    </ul>
  </div>
</fieldset>
